@model dynamic

@{
    ViewBag.Title = "Boxing paradise's matches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upcoming boxing matches</h2>
<table class=".table-striped .table-hover .table-bordered">
    <thead>
        <tr>
            <td>
                Name of first boxer
            </td>
            <td>
                Name of second boxer
            </td>
            <td>
                Name of venue
            </td>
            <td>
                StartDate
            </td>
            <td>
                Description
            </td>
            <td>
                Winner
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in ViewBag.Matches)
        {
            <tr>
                <td>
                    @match.FirstBoxerDto.Name
                </td>
                <td>
                    @match.SecondBoxerDto.Name
                </td>
                <td>
                    @match.VenueDto.Name
                </td>
                <td>
                    @match.StartDate
                </td>
                <td>
                    @match.Description
                </td>
                <td>
                    @{
            if (match.WinnerDto != null)
            {
                @match.WinnerDto.Name;
            }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@*@Html.ActionLink("Create a new match", "Post");*@